
<% if params['depart_date(1i)'].present? %>
  <h3>Available Flights</h3>
  <%= form_with url: new_booking_path, method: :get do |form| %>
    <% if @available_flights.length == 0 %>
      <%= "No available flights on that date" %>
    <% else %> 
      <%= form.hidden_field :num_passengers, value: params[:num_passengers] %>
      <% @available_flights.each do |flight| %>
        <div>
          <%= form.radio_button :flight_id, flight.id %>
          <%= "#{flight.departure_airport.code} to #{flight.arrival_airport.code} - Departs at #{flight.depart_time.strftime('%I:%M %p')}" %>
        </div><br>
      <% end %>
      <%= form.submit "Select" %>
    <% end %>
  <% end %>
<% end %>