<h1>Flights Index</h1>

<%= render "search" %>

<div>
<% @flights.where(departure_airport_id: params[:departure_code]).each do |flight| %>
  <%= flight.departure_airport.code %>
<% end %>
</div>

<h3>Flight Options</h3>
<% @available_flights.each do |flight| %>
  <div>
    <%= flight.departure_airport.code %>
    <%= flight.arrival_airport.code %>
    <%= flight.depart_date %>
  </div>
<% end %>
